:root{
    --main-color:#fdf8ee;
    --secondary-color:#375542;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0 auto;
}
body{
    min-height: 100vh;
    min-width:100vw;
    background-color:#fdf8ee;
    overflow-x: hidden;
}
navbar > li{
    cursor: pointer;
}
navbar > li:hover{
    text-decoration: underline;
}
/*Styling for the landing page. */

.hero-section{
    background-image: url(../dist/images/background.png);
    background-repeat:  no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.hero-section > img{
    min-width:200px;
}
.about-section{
    background-color: var(--secondary-color);
    color:var(--main-color);
    margin: 0 auto;
    padding: 80px 100px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.about-section > h2{
    margin-top:10px;
    font-size:2em;
    text-align: center;
    margin-bottom:10px;
}
.about-section > p{
    margin-top:10px;
    width:40%;
    font-size:1.45em;
    text-align: center;
    min-width:300px;
    margin: 0 auto;
}
.menu-section{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    color:var(--secondary-color);
    padding: 120px 24px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-image: url(../dist/images/topborder.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-wrapper{
    width:75%;
    display:flex;
    flex-wrap: wrap;
}
.menu-section > .menu-wrapper >.image-container{
    max-width:480px;
}
.menu-section > .menu-wrapper > .image-container > img{
    width:75%;
    min-width:275px;
}
.menu-section > .menu-wrapper > .text-container{
    width:40%;
    max-width:500px;
    min-width:300px;
    margin: 0 auto;
    padding:16px;
    font-size:1.2em;
}
.menu-wrapper > .text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.menu-wrapper > .text-container > h3{
    width:100%;
    display:flex;
    justify-content: flex-start;
}
.text-container > p{
    margin-top: 10px;
}
.menu-wrapper > .text-container > .btn-container{
    width:125px;
    justify-content: center;
    display:flex;
    font-size:0.80em;
    margin-top:25px;
    font-weight: bold;
}
.menu-wrapper > .text-container > .btn-container:hover{
    cursor: pointer;
    text-decoration: underline;
}

.reservation-section{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    flex-direction: row;
    padding:24px;
    padding-bottom:100px;
    color:var(--secondary-color);
    width:85%;
}
.reservation-section > .text-container{
    width:75%;
    max-width:500px;
    min-width:300px;
    margin: 0 auto;
    padding:16px;
    font-size:1.2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.reservation-section > .text-container > h3{
    width:100%;
    display:flex;
    justify-content: flex-start;
}
.reservation-section >.text-container > .btn-container{
    width:140px;
    justify-content: center;
    display:flex;
    font-size:0.80em;
    margin-top:25px;
    font-weight: bold;
}
.reservation-section >.text-container > .btn-container:hover{
    cursor: pointer;
    text-decoration: underline;
}
.reservation-section > .image-container{
    width:40%;
    padding-left:25px;
    display:flex;
    justify-content: center;
}
.reservation-section > .image-container > img{
    width:100%;
    max-width:675px;
    min-width:480px;
}
.information-section{
    padding:20px 0px;
    color:var(--secondary-color);
    background-image: url(../dist/images/bottomborder.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.location-container{
    margin-top:20px;
    padding-bottom:20px;
}
.location-container > h5{
    margin: 0 auto;
    text-align: center;
    font-size:1.25em;
    margin-bottom:15px;
}
.location-container > h5:last-of-type{
    margin-top:20px;
}
.location-container > p{
    font-size:1.2em;
    text-align: center;
}
.number{
    text-align: center;
    font-weight: bold;
    color:#efd166;
}
 .hours-container{
    margin-bottom:20px;
}
.hours-container > h5{
    font-size:1.25em;
    text-align: center;
}
.hours-container > li{
    font-size:1.2em;
    list-style-type: none;
    text-align:center;
    margin: 10px 0px;
}
/*Styling for the menu page.*/
.menu-container{
    width:40%;
    min-width:420px;
    margin: 0 auto;
    color:var(--secondary-color);
    border: 10px solid var(--secondary-color);
    box-shadow: 6px 6px 6px rgb(148, 122, 119);
    margin: 20px 0px;
}
header{
    display:flex;
    justify-content: center;
    flex-direction:column;
    padding-bottom:20px;
}
header > p{
    font-size:0.95em;
}
.logo-container > img{
    max-width:200px;
}
.section-title{
    width:95%;
    padding-bottom:5px;
    border-bottom:1px solid var(--secondary-color);
}
.section-container{
    width:80%;
    padding:24px;
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
}
.item{
    max-width:200px;
    margin: 15px auto;
}
.item-header{
    width:100%;
    display:flex;
}
.item-title{
    width:60%;
    font-size:0.85em;
}
.item-price{
    width:40%;
    display:flex;
    justify-content: center;
    font-weight:bold;
    font-size:0.90em;
}
.item-description{
    margin-top:5px;
    font-size:0.90em;
    font-style:italic;
}
/*Styling for the contact page. */
.contact-header, .contact-subheader{
    text-align:center;
    color:var(--secondary-color);
}
.contact-header{
    margin-top:30px;
    margin-bottom:10px;
    font-size:1.35em;
}
.contact-subheader{
    margin-top:10px;
    margin-bottom:20px;
    font-size:1.0em;
    max-width:450px;
}
.contact-container{
    width:25%;
    min-width:400px;
    margin: 0 auto;
    padding:20px;
    border-radius: 5px;
}
label{
    color:var(--secondary-color);
}
#name, #email, #subject, textarea{
    width:100%;
    padding:12px;
    border:1px solid var(--secondary-color);
    border-radius:4px;
    box-sizing: border-box;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
}
input[type=submit]{
    width:40%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color:var(--main-color);
    padding:6px;
    font-size:1.1em;
    border:none;
    border-radius:4px;
    cursor:pointer;
};
input[type=submit]:hover{
    cursor:pointer;
    background-color: #2f4738;
}
#message{
    height:200px;
};
#submit{
    width:100%;
}
#submit:hover{
    background-color: #2f4738;
}
.button-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:500px) {
    .hero-section{
        background-position-x:-1200px;
    }
}

@media screen and (max-width:420px){
    .hero-section{
        background-position-x:-705px;
    }
    .hero-section > img{
        width:300px;
    }
    .about-section {
        padding-left:100px;
    }
    .about-section > p{
        text-align: center;
        margin-left:-40px;
    }
    .menu-wrapper > .text-container {
        margin-top:10px;
    }
    .reservation-section{
        margin-top:-20px;
        padding-bottom:60px;
    }
    .reservation-section > .image-container {
        width:200px;
        margin-left:-1px;
    }
    .reservation-section > .image-container > img{
        min-width:480px;
    }
    .location-container{
        margin-top:10px;
    }
}
